.box1 {
    color: gray;
    padding: 0.5em 1em;
    margin: 2em 0;
    font-weight: bold;
    border: solid 1px #000000;
    background-color:lightgray;
}

@keyframes rotate{
    100%{ transform: rotate(360deg);}
}

.hideInput {
    border: none;
    background-color: inherit;
    box-shadow: none;
    color: rgba(0, 0, 0, 0);
    width: 0.1em;
  }